.popup__close-button {
  background: url(../../../images/close.svg) no-repeat;
  width: 40.7px;
  height: 40.7px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: ease-in 0.2s;
}
