@import url(./_theme_large/popup__save_disabled_theme_large.css);
.popup__save.popup__save_disabled {
  background-color: #e5e5e5;
  color: black;
  opacity: 0.2;
  border: 1px solid black;
  margin-top: 5px;
}
