.popup__container {
  display: flex;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .popup__container {
    right: 28%;
  }
}

@media screen and (max-width: 870px) {
  .popup__container {
    right: 16%;
  }
}

@media screen and (max-width: 870px) {
  .popup__container {
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .popup__container {
    right: 16%;
  }
}

@media screen and (max-width: 420px) {
  .popup__container {
    right: 0;
  }
}
