.element__card-group-likes {
  position: absolute;
  bottom: 20px;
  right: 18px;
}

.element__card-likes {
  margin: 0;
  padding-left: 7px;
  font-size: 13px;
}

.element__card-hidden {
  display: none;
}

.element__card-heart {
  background: url(../../../images/Vectorheart.svg) no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.element__card-heart:hover {
  opacity: 0.6;
  transition: ease-in 0.2s;
}

.element__card-heart_active {
  background: url(../../../images/VectorblackHeart.svg) no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
