.element__card-heart {
  background: url(../../../images/Vectorheart.svg) no-repeat;
  position: absolute;
  bottom: 30px;
  right: 18px;
  width: 21px;
  height: 18px;
  border: none;
}

.element__card-heart:hover {
  opacity: 0.6;
  transition: ease-in 0.2s;
}

/* this is here due to file not working, need helpful comment please */
.element__card-heart_active {
  background: url(../../../images/VectorblackHeart.svg) no-repeat;
  position: absolute;
  bottom: 30px;
  right: 18px;
  width: 21px;
  height: 18px;
  border: none;
}
